:root {
    --light-blue: #4285f4;
    --pass-color: #d4dbe5;
    --weak-color: #E64A4A;
    --yellow-color: #f1c80b;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    direction: ltr;
    height: 100vh;
    /* background: linear-gradient(86.3deg, rgba(0, 119, 182, 1) 3.6%, rgba(8, 24, 68, 1) 87.6%); */
}
