body {
    direction: ltr;
    background-image: linear-gradient(90.9deg, rgba(255, 187, 187, 1) -8.8%, rgba(255, 220, 177, 1) 12.4%, rgba(255, 249, 177, 1) 35.6%, rgba(220, 255, 177, 1) 59.6%, rgba(177, 218, 255, 1) 84%, rgba(222, 177, 255, 1) 107.9%);

}

.container {
    background-image: linear-gradient(111.4deg, rgba(7, 7, 9, 1) 120.5%, rgba(7, 7, 9, 1) 63.2%);
    background-image: linear-gradient(89.7deg, rgba(0, 0, 0, 1) -10.7%, rgb(22, 61, 95) 88.8%);
    height: 70vh;
    width: 80vw;
    border-top-left-radius: 100px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.301),
    inset 3px 3px 10px rgba(0, 0, 0, 0.9),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
    transform: translate(-50%, -50%);
}

.part {
    margin: 5px;
    transition: 0.7s;
    filter: grayscale(0) brightness(1.25);
    position: relative;
}

.part:hover {
    filter: grayscale(0.5);
}

img {
    border-radius: 60px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8),
        -1px -1px 6px rgba(255, 255, 255, 0.301),
        inset 3px 3px 10px rgba(0, 0, 0, 0.5),
        inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

h1 {
    text-align: center;
    font-size: 40px;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  

h3 {
    position: absolute;
    font-size: large;
    font-weight: bold;
    top: 480px;
    right: auto;
    opacity: 0;
}

.part.active {
   flex: 5; 
    
}

.part.active h3 {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8),
        -1px -1px 6px rgba(255, 255, 255, 0.301),
        inset 3px 3px 10px rgba(0, 0, 0, 0.5),
        inset -1px -1px 6px rgba(255, 255, 255, 0.4);
    opacity: 1;
    background-color: chocolate;
    border-radius: 20px;
    padding: 10px;
    transition: opacity 0.7s ease 0.6s;
}

.part img {
  object-fit: cover;
 }
