:root {
    --md-dark-color: #252525;
    --dark-color: #171717;
    --light-dark-color: #504f4f;
    --yellow-color: #d4aa11;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    direction: ltr;
    height: 100vh;
    padding-top: 30px;
    background: linear-gradient(300deg, black 70%, #886d0e 50%);
}

.container {
    background-color: var(--dark-color);
    height: 90vh;

    border: 3px solid rgba(59, 36, 7, 0.808);
    border-radius: 60px;
}

.container-logo p {
    color: wheat;
    padding: 1rem;
}

.logo {
    border-bottom: 1px solid var(--light-dark-color);
}

.search-container {
    background-color: var(--md-dark-color);
}

.form-control {
    width: 350px;
}

/* search list */
.search-list {
    position: absolute;
    right: 0;
    top: 100%;
    max-height: 500px;
    overflow-y: scroll;
    z-index: 10;
    background-color: var(--md-dark-color);
}

.search-list-item {
    background-color: var(--light-dark-color);
    border-bottom: 1px solid var(--yellow-color);
    width: calc(350px - 10px);
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 1s ease;
}

.search-item-pic img {
    width: 50px;
    height: 60px;
    margin-right: 0;
    margin-left: 0.5rem;
    border: 3px solid #fff;
}

.search-item-info h3 {
    padding-top: 5px;
}

.search-list-item:hover {
    background-color: #1f1f1f;
}

/* scrollbar */
.search-list::-webkit-scrollbar {
    width: 10px;
}

.search-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.search-list::-webkit-scrollbar-thumb {
    background-color: var(--yellow-color);
    border-radius: 10px;

}

/* js related class */
.hide-search-list {
    display: none;

}

/* movie result */
.movie-poster {
    display: flex;
    justify-content: center;
}

.movie-poster img {
    max-width: 300px;
    margin-left: 50px;
    border: 4px solid #fff;
}

li {
    list-style: none;
}

.rated {
    background-color: var(--yellow-color);
    padding: 0.4rem;
    border-radius: 3px;
    font-weight: 600;
}

.released {
    opacity: 0.9;
}

.genre {
    background-color: var(--light-dark-color);
    padding: 0.5rem;
    border-radius: 3px;
}

.Summary {
    max-width: 500px;

}